/* CSS 2 Exercise 2 */
th {
    text-transform: uppercase; 
}

a {
    color: green;
}

li {
    display: inline;
    margin: 10px;
}

.top{
    background-color: #EB5406;
}

em {
    color: blue;
}

#the_most_important{
    text-transform: capitalize;
    background-color: gold;
}

/* CSS 2 Exercise 3 */

h2{
    font-family: sans-serif;
}

h1 h2 h3 h3 {
    text-transform: capitalize;
}

h2 + p::first-letter {
    font-size: x-large;
}

tr:hover {
    background-color: azure;
}

li.navitem a {
    display: inline;
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    text-align: center;
}

li.navitem:first-child a {
    text-decoration: underline;
}

th {
    background-color: #352F44;
}

tr:nth-child(odd) {
    background-color: rgb(40, 123, 171);
}

tr:nth-child(even) {
    background-color: rgb(16, 57, 63);
}

::selection{
    background-color: grey;
}

a:not(li.navitem a) {
    cursor: pointer;
}

input {
    height: 20px;
}

input[type="text"] {
    border: 1px solid lightgray;
}

input[name="Name"] {
    height: 50px;
}

.footer-items{
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* CSS 3 Exercise 3 */

button {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #a996cd;
}

.burger-icon {
    height: 48px;
}

.sub-burger{
    display: none;
}

.sub-burger img {
    display: block;
    padding: 10px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.navitem:hover .sub-burger {
    display: block;
}

.navitem:hover .sub-burger img:nth-child(1) {
    animation: fadeIn 0.5s ease-in-out 0.2s forwards;
}

.navitem:hover .sub-burger img:nth-child(2) {
    animation: fadeIn 0.5s ease-in-out 0.4s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}